@charset "UTF-8";

body {
	margin: 0;
}
/*
.navbar {
	overflow: hidden;
	background-color: #204a87;
}

.navbar a {
	font-size: 16px;
	color: white;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 13px 16px;
}

.navbar a:hover {
	background-color: #729fcf;
}

.container {
	margin: 10px;
}




